.card__post{
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.margin__right{
    margin-right: 10px;
}
.heading_size{
    font-size: 20px;
    text-decoration: underline;
}
.main_box{
    margin-left: 15px;
}